<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401355648289-lpn3d5a6hsp52rkq9kc2v9cekvubem56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401355648289-lpn3d5a6hsp52rkq9kc2v9cekvubem56</string>
	<key>API_KEY</key>
	<string>AIzaSyB6v4Nwzlj1Z_HCp7xjfmdi869_1oGsmVI</string>
	<key>GCM_SENDER_ID</key>
	<string>401355648289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vendorstack</string>
	<key>PROJECT_ID</key>
	<string>vendorstack-5364b</string>
	<key>STORAGE_BUCKET</key>
	<string>vendorstack-5364b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401355648289:ios:8ce1bd452b63645047a260</string>
</dict>
</plist>